<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
</head>
<body>
	<form action = "SaveAlumno" method = POST >
		<table>
			<tbody>
				<tr>
					<td>Nombre</td>
					<td><input type = "text" name =  "nombres" value = "{{ Alumno.nombres }}" /></td>
				</tr>
				<tr>
					<td>Apellido Paterno</td>
					<td><input type = "text" name =  "apellidoPaterno" value = "{{ Alumno.apellidoPaterno }}" /></td>
				</tr>
				<tr>
					<td>Apellido Materno</td>
					<td><input type = "text" name =  "apellidoMaterno" value = "{{ Alumno.apellidoMaterno }}" /></td>
				</tr>
			</tbody>	
		</table>
		<input type = "submit" value = "Save"/>
		<input type = "button" value = "Cancel" onclick = "history.back();" />
	</form>
	
</body>
</html>