<html>
<head>
<title>Insertar nuevos cursos</title>
</head>
<body>
	<form action = "SaveCurso"  method = POST >
		<table>
			<tbody>
				<tr>
					<td>Codigo</td>
					<td><input type = "text" name =  "codigo" value = "{{Curso.codigo}}" /></td>
				</tr>
				<tr>
					<td>Nombre</td>
					<td><input type = "text" name =  "nombre" value = "{{Curso.nombre}}" /></td>
				</tr>
				<tr>
					<td>Creditos</td>
					<td><input type = "number" name =  "credito" value = "{{Curso.creditos}}" /></td>
				</tr>
			</tbody>	
		</table>
		<input type = "submit" value = "Save"/>
		<input type = "button" value = "Cancel" onclick = "history.back();" />
	</form>
	
</body>
</html>