<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido Paterno</th>
				<th>Apellido Materno</th>
			</tr>
		</thead>
		<tbody>
			{% for Alumno in AlumnosActuales %}
				<tr>
					<td>{{ Alumno.nombres }}</td>
					<td>{{ Alumno.apellidoPaterno }}</td>
					<td>{{ Alumno.apellidoMaterno }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href = "AddAlumno"> registrar alumno</a>
</body>
</html>