<html>
<head>
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Codigo</th>
				<th>Nombre</th>
				<th>Credito</th>
			</tr>
		</thead>
		<tbody>
			{% for Curso in CursoDisponibles %}
				<tr>
					<td>{{ Curso.codigo }}</td>
					<td>{{ Curso.nombre }}</td>
					<td>{{ Curso.creditos }}</td>
				</tr>
			{% endfor%}
		</tbody>
	</table>
	<a href = "AddCurso"> Agregar Curso</a>
</body>
</html>